body, ul, li, p{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Thoma, sans-serif;
    font-size: 1.2rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    style="display:block";
}

.container img{
    max-width:250px;
    max-height:141px;
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: green;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5E7DC;
    padding-right: 50%;
}

.menu{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 85%;
    margin: auto;
}

.menu li{
    margin-left:3rem;
}

.menu li a{
    padding: 1rem;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin: auto;
}

.flex > div{
    flex-basis: 20rem;
    margin: 2rem;
}

footer{
    background-color: #76A2A8;
    min-height: 5rem;
    text-align: center;
}

body{
    background-color: #DCF2F5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex > div > p{
    text-align: center;
}

.botao{
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    gap: 10px;
}






.checkbox-wrapper-61 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-61 *,
  .checkbox-wrapper-61 ::after,
  .checkbox-wrapper-61 ::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-61 {
    position: relative;
    display: grid;
justify-content: center;
align-items: center;
    overflow: hidden;
  }
  .checkbox-wrapper-61 .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }
  .checkbox-wrapper-61 .label svg {
    vertical-align: middle;
  }
  .checkbox-wrapper-61 .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
  }
  .checkbox-wrapper-61 .check:checked + label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
  }